@import"https://fonts.googleapis.com/css2?family=Gasoek+One&display=swap";@import"https://fonts.googleapis.com/css2?family=Playfair+Display:wght@700&family=Poppins:wght@300;400&display=swap";#Img {
    width: 100vw;
    margin: 0;
    padding: 0;
    filter: blur(2px);
    z-index: -1;
    position: relative
}

.register,.login,.forgotPassword {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-block:30px;min-height: 90vh;
    width: 100%;
    margin: 0!important;
    z-index: -2!important;
    background: rgb(239, 64, 64);
    background: linear-gradient(18deg,rgb(254, 135, 97) 0%,rgb(254, 211, 159) 100%)
}

.register-form,.login-form,.forgotPassword-form {
    margin: 100px;
    border: black 1px solid;
    padding: 40px;
    background-color: #ffffff34;
    z-index: 1!important
}

.register-h3,.login-h3,.forgotPassword-h3 {
    font-family: cursive,sans-serif;
    color: rgb(175, 70, 15);
    text-align: center;
    margin-bottom: 35px;
    font-size: 35px
}

.register input,.login input,.forgotPassword input {
    width: 350px;
    margin-block:5px;border-radius: 3px;
    border-width: 0px!important;
    background-color: transparent!important;
    box-shadow: #11111a1a 0 8px 24px,#11111a1a 0 16px 56px,#11111a1a 0 24px 80px
}

.register input:focus,.login input:focus,.forgotPassword input:focus {
    border-width: 0px 0px 1.5px 0px!important;
    border-color: #215b21!important;
    background-color: transparent!important;
    box-shadow: #00000026 2.4px 2.4px 3.2px!important
}

.auth-button {
    width: 150px;
    background-color: rgb(175, 70, 15)!important;
    border-width: 0px!important;
    border-radius: 5px!important;
    font-size: 18px!important
}

#forgotPassword-button {
    width: auto
}

.thanos {
    position: absolute;
    top: 60vh;
    z-index: 0;
    left: -15px;
    border-width: 0px;
    object-fit: none;
    object-position: 0px 2px
}

.avatar {
    max-height: 600px;
    position: absolute;
    top: 50vh;
    z-index: 0;
    right: 70px
}

.scooby {
    position: absolute;
    top: 30vh;
    z-index: 0;
    border-width: 0px;
    object-fit: none;
    object-position: 0px 2px
}

.fortnite {
    position: absolute;
    z-index: 0;
    right: 60px;
    top: 20vh;
    height: 400px
}

.clapping {
    position: absolute;
    left: 1vw;
    top: 21vh;
    z-index: 0;
    border-width: 0px;
    object-fit: none;
    object-position: 0px 2px
}

.laughing {
    position: absolute;
    z-index: 0;
    right: 10px;
    top: 28vh;
    height: 400px
}

@media only screen and (max-width: 779px) {
    .thanos,.avatar {
        display:none
    }
}

.pnf {
    width: 100vw;
    height: 100vh;
    font-size: 35px;
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABoAAAAaCAYAAACpSkzOAAAABHNCSVQICAgIfAhkiAAAAAlwSFlzAAALEgAACxIB0t1+/AAAABZ0RVh0Q3JlYXRpb24gVGltZQAxMC8yOS8xMiKqq3kAAAAcdEVYdFNvZnR3YXJlAEFkb2JlIEZpcmV3b3JrcyBDUzVxteM2AAABHklEQVRIib2Vyw6EIAxFW5idr///Qx9sfG3pLEyJ3tAwi5EmBqRo7vHawiEEERHS6x7MTMxMVv6+z3tPMUYSkfTM/R0fEaG2bbMv+Gc4nZzn+dN4HAcREa3r+hi3bcuu68jLskhVIlW073tWaYlQ9+F9IpqmSfq+fwskhdO/AwmUTJXrOuaRQNeRkOd5lq7rXmS5InmERKoER/QMvUAPlZDHcZRhGN4CSeGY+aHMqgcks5RrHv/eeh455x5KrMq2yHQdibDO6ncG/KZWL7M8xDyS1/MIO0NJqdULLS81X6/X6aR0nqBSJcPeZnlZrzN477NKURn2Nus8sjzmEII0TfMiyxUuxphVWjpJkbx0btUnshRihVv70Bv8ItXq6Asoi/ZiCbU6YgAAAABJRU5ErkJggg==)
}

h1,h2 {
    font-size: 50px
}

.error-template {
    padding: 100px 15px 0;
    text-align: center
}

.error-actions {
    margin-top: 15px;
    margin-bottom: 15px
}

.error-actions .btn {
    margin-right: 10px
}

.button {
    font-size: 40px
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box
}

body {
    overflow-x: hidden
}

input::-webkit-outer-spin-button,input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0
}

input[type=number] {
    appearance: textfield;
    -moz-appearance: textfield
}

.navbar {
    background: rgb(250,137,240)!important;
    background: radial-gradient(circle,rgba(242,225,210,1) 0%,rgba(247,197,159,1) 78%)!important;
    font-family: cursive;
    font-size: 19px;
    line-height: 50px;
    text-transform: capitalize;
    box-shadow: #00000017 0 3px 12px;
    --webkit-box-shadow: rgba(0, 0, 0, .09) 0px 3px 12px;
    margin: 0!important
}

.navbar-brand {
    font-size: 28px;
    font-weight: 700;
    font-family: sans-serif;
    letter-spacing: 3px
}

.navbar-brand:hover {
    color: #fff
}

.nav-item {
    padding: 0;
    height: 60px;
    font-weight: 400;
    margin-right: 5px
}

.navbar-nav {
    padding: 0;
    height: 40px
}

.navbar-nav .nav-link {
    height: 45px;
    padding: 0 15px;
    border-radius: 10px
}

.navbar-nav .nav-link:hover {
    background-color: #00000054;
    color: #e7e7e7!important;
    border-radius: 10px
}

.dropdown-menu {
    border-width: 0;
    background-color: transparent!important
}

.dropdown-item {
    background: rgb(250,137,240)!important;
    border-width: 0;
    border-radius: 10px!important;
    font-size: 16px;
    font-family: Poppins,sans-serif
}

.dropdown-item:hover {
    font-size: 19px;
    background: rgb(159,33,151)!important
}

.active {
    border-bottom: 2px solid rgb(0,0,0);
    padding-bottom: 0;
    border-radius: 0
}

.footer {
    background: #555555;
     background: radial-gradient(circle,rgba(242,225,210,1) 0%,rgba(247,197,159,1) 78%)!important;
    color: salmon;
    padding: 15px;
    margin: 0!important
}

.footer a {
    text-decoration: none;
    color: red;
    padding: 10px
}

.footer a:hover {
    color: darksalmon
}

.product-admin-link {
    text-decoration: none!important
}
